*
{
    padding: 0px;
    margin: 0px;
}
header
{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* logo styling */
header .log
{
    border: 2px solid ;
    width: 200px;
    margin: 12px 0px;
    margin-left: 12px;
    
}
/* log img stylige */

header .log img
{
    border: 2px solid red;
    border-radius: 3rem;
    margin-right: 12px;
}
header .log 
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
